name: Tests

on:
  workflow_dispatch: # Allow manual triggering
  pull_request:
    branches: [main]
    paths:
      - "deno.json"
      - ".github/workflows/*"
      - ".github/actions/*"
      - "src/**"
      - "test/**"
  push:
    branches: [main]
    paths:
      - "deno.json"
      - ".github/workflows/*"
      - ".github/actions/*"
      - "src/**"
      - "test/**"

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@v2.0.3
        with:
          deno-version: v2.x

      - name: Run tests
        run: make test

      - name: Notification if failure
        if: failure()
        uses: ./.github/actions/pushover
        with:
          pushover_api_token: ${{ secrets.PUSHOVER_API_TOKEN }}
          pushover_user_key: ${{ secrets.PUSHOVER_USER_KEY }}
          title: "Tests failed - rdap-cctld-ts"
          message: "Tests failed in rdap-cctld-ts"
